#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: yellowgreen;
}
#green{
    color: green;
}
#yellow{
    color: white;
}

.color-title{
    font-weight: lighter;

}

img{

    height: 200px;
    width: 200px;
}
.color-title{
    color:bisque
}